/* INDEX CSS */

* {
	/* font-family: "Montserrat", sans-serif;
	font-family: "Roboto", sans-serif; */

	font-family: "Montserrat", sans-serif;
}

.my-nav-link {
	border-top: 2px solid #0c134f;
}

.my-nav-link:hover {
	border-top: 2px solid #5c469c;
}

.nav-color {
	background-color: #0c134f;
}

footer a {
	color: gray;
}

.white-text {
	color: white;
}

a {
	text-decoration: none;
}

.body-limit {
	max-width: 2500px;
	margin: auto;
}

.index-banner-style {
	width: fit-content;
	background-color: black;
	font-size: 60px;
}

.index-button-style{
	width: 400px;
}

/* HOME CSS */

.white-background {
	background-color: white;
}

.body-background {
	background-color: #efefef;
}

.reset-card {
	border: 0;
	border-radius: 0;
}

.card-effect {
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card-effect:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.my-transition {
	transition: 1s;
}

.introduction-container {
	height: 20em;
	padding: 2em;
}

.my-shadow {
	-webkit-box-shadow: 0px 0px 5px -1px #000000;
	box-shadow: 0px 0px 5px -1px #000000;
}

.my-shadow-nothover {
	-webkit-box-shadow: 0px 0px 5px -1px #000000;
	box-shadow: 0px 0px 5px -1px #000000;
}

.my-shadow:hover {
	-webkit-box-shadow: 0px 0px 7px -1px #000000;
	box-shadow: 0px 0px 7px -1px #000000;
}

.foot-radius {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.my-padding {
	padding: 1.5px;
}

.img-totalfit {
	width: 100%;
	height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
	height: fit-content;
	width: fit-content;
	top: 50%;
}

.overlay {
	z-index: 1000;
	opacity: 0;
}

.overlay:hover {
	opacity: 0.3;
	transition: all 0.8s ease;
}

.border-effect {
	outline: 1px dotted black;
	outline-offset: 3px;
	transition: outline-offset 200ms ease;
}

.border-effect:hover,
.border-effect:focus {
	outline: 2px solid white;
	outline-offset: -6px;
}

.slide-item-container {
	height: 75vh;
	width: 20rem;
	max-height: 600px;
	min-height: 400px;
}

.slide-img-container {
	height: 50vh;
}

.slide-img {
	max-height: 50vh;
}

.latest-new-container{
	height: 35rem;
}

.latest-new-overlay{
	height: 35rem; width: 100%
}

.latest-new-small-container{
	width: 100%;
	height: 100%;
}
