/* INDEX CSS */

/* SLICK */

html {
	scroll-behavior: smooth;
	transition: scroll-behavior 2s;
}

body{
	margin: 0;
}

.slick-prev::before,
.slick-next::before {
	font-family: FontAwesome;
	color: black;
}

.slick-prev::before {
	content: "\f137";
}

.slick-next::before {
	content: "\f138";
}

.slick-arrow:before {
	font-size: 30px;
}
.slick-next {
	right: -20px;
}
.slick-prev {
	left: -20px;
}

/*  */
/* .slick-dots li button:before {
	width: 100px;
}

.slick-dots{
	display: flex;
}


.slick-dots li{
	flex: 1;
}
 */

/* SLICK */

.form-control:focus {
	box-shadow: none;
	border-color: red;

}

* {
	font-family: "Montserrat", sans-serif;
}

.my-nav-link {
	transition: 0.1s ease;
}
.my-nav-link:hover {
	background-color: white;
	color: black;
}

.my-nav-link:hover a {
	color: black !important;
}

.nav-color {
	background-color: #0c134f;
}

footer a {
	color: gray;
}

.white-text {
	color: white;
}

.text-gray {
	color: gray;
}

a {
	text-decoration: none;
}

.body-limit {
	max-width: 1600px;
	margin: auto;
}

.index-banner-style {
	width: fit-content;
	background-color: black;
	font-size: 3.75rem;
}

.index-button-style {
	width: 400px;
}

@media (min-width: 768px) {
	.animate {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0rem);
		opacity: 1;
	}

	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		-webkit-opacity: 1;
	}

	0% {
		-webkit-transform: translateY(1rem);
		-webkit-opacity: 0;
	}
}

.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}

/* HOME CSS */

.white-background {
	background-color: white;
}

.body-background {
	background-color: #efefef;
}

.reset-card {
	border: 0;
	border-radius: 0;
}

.card-effect {
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card-effect:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.my-transition {
	transition: all 1s;
}

.transition-stop {
	transition: all 0s;
}

.introduction-container {
	height: 20em;
	padding: 2em;
}

.my-shadow {
	-webkit-box-shadow: 0px 0px 5px -1px #000000;
	box-shadow: 0px 0px 5px -1px #000000;
}

.my-shadow-nothover {
	-webkit-box-shadow: 0px 0px 5px -1px #000000;
	box-shadow: 0px 0px 5px -1px #000000;
}

.my-shadow:hover {
	-webkit-box-shadow: 0px 0px 7px -1px #000000;
	box-shadow: 0px 0px 7px -1px #000000;
}

.foot-radius {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.my-padding {
	padding: 1.5px;
}

.img-totalfit {
	width: 100%;
	height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
	height: fit-content;
	width: fit-content;
	top: 50%;
}

.overlay {
	z-index: 1000;
	opacity: 0;
}

.overlay:hover {
	opacity: 0.4;
	transition: all 200ms ease;
}

.painting-overlay {
	z-index: 1000;
	opacity: 0;
}

.painting-overlay:hover {
	opacity: 0.05;
	transition: all 200ms ease;
}

.painting-overlay:hover + div div div span {
	border: 1px solid black;
}

.painting-overlay + div div div span {
	border: 1px solid rgba(0, 0, 0, 0.116);
}

.border-effect {
	outline: 1px solid white;
	outline-offset: 0px;
	transition: outline-offset 200ms ease;
}

.border-effect:hover,
.border-effect:focus {
	outline: 2px solid white;
	outline-offset: -6px;
}

.slide-item-container {
	height: 75vh;
	max-height: 550px;
	min-height: 500px;
	width: 20rem;
}

.slide-img-container {
	height: 50vh;
	max-height: 400px;
}

.slide-img {
	max-height: 380px;
}

.latest-new-container {
	height: 35rem;
}

.latest-new-overlay {
	height: 35rem;
	width: 100%;
}

.latest-new-small-container {
	width: 100%;
	height: 100%;
}

.fit-content {
	width: fit-content;
}

/* BORDER EFFECT */

/* SIGN IN PAGE */

.signin-page {
	height: 100%;
	min-height: 100vh;
	background: #616161; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #9bc5c3, #616161); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* CATEGORY */

pre a {
	color: black;
}

.return-top {
	position: fixed;
	top: 90%;
	left: 95%;
	padding: 0.5rem 0.7rem;
}

.searchitem:hover {
	background-color: rgb(0, 12, 12, 0.1);
}

.navigation-bar{
	font-size: 14px;
}
.navigation-bar a{
	color: black;
}


.car-background{
	background-image: url(../images/car-banner.webp);
	background-position: 25% 70%;
	background-size: 100%;
}
