<!-- <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous"
/>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
	crossorigin="anonymous"
></script> -->

<style>
	.signin-button {
		background-color: #0c134f;
	}

	p {
		margin: 0;
	}

	.signin-font {
		font-weight: bold;
	}

	.min-vh-80 {
		min-height: 80vh;
	}
</style>

<div ng-controller="signInController" class="body-limit">
	<div class="row justify-content-center p-5 h-100 align-items-center signin-page">
		<form class="col-lg-4 shadow bg-white p-5" ng-submit="onSignin()">
			<p class="text-center">Don't have an account?</p>
			<br />
			<div class="text-center fs-6"><a href="#!signup">REGISTER FOR FREE</a></div>
			<hr />
			<h3 class="text-center mt-2 fw-bolder">SIGN IN TO YOUR ACCOUNT</h3>
			<div class="mb-5">
				<label for="username" class="form-text">USERNAME *</label>
				<input type="text" class="form-control" id="username" ng-model="signinUsername" />
			</div>
			<div class="mb-5">
				<label for="password" class="form-text">PASSWORD *</label>
				<input type="password" class="form-control" id="password" ng-model="signinPassword" />
			</div>
			<div class="d-flex flex-column mb-4">
				<button type="submit" class="signin-button text-white">SIGN IN</button>
			</div>
			<div class="text-end">
				<a ng-href="#!{{currentPage}}">Return To Previous Page</a>
			</div>
		</form>
	</div>
</div>
