<!-- <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXh501p5ILy+dN9+nJOZ"
	crossorigin="anonymous"
/>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
	crossorigin="anonymous"
></script> -->

<style>
	h2 {
		border-bottom: 2px solid red;
		line-height: 0.1rem;
		text-align: center;
		z-index: 999;
	}

	strong {
		width: 10rem;
		background-color: white;
		padding: 0 1rem;
	}

	.howtobuy {
		text-align: justify;
		word-spacing: -2px;
		/* scroll-behavior: smooth;
		transition: scroll-behavior 2s; */
	}

	.link-accordion {
		border-left: 2px solid white;
		transition: border-left 0.25s;
	}

	.link-accordion:hover {
		border-left: 2px solid red;
	}

	h5 {
		font-weight: 600;
		margin-bottom: 1rem;
	}
</style>

<div ng-controller="howtosellController">
	<div class="text-center overflow-hidden" style="height: 700px">
		<img
			style="width: 100%"
			src="https://images.unsplash.com/photo-1493841160601-33a4807cb6de?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1331&q=80"
			alt=""
		/>
	</div>
	<div class="row container my-3 howtobuy gap-5 justify-content-center">
		<div class="col-3">
			<div id="list-example" class="list-group sticky-top border rounded-0 mt-5">
				<a
					class="list-group-item list-group-item-action py-2 link-accordion"
					smooth-scroll
					target="list-item-1"
					href=""
					ng-click="scrollToFirst()"
					>Why sell with AuctionsTable's?</a
				>
				<a
					class="list-group-item list-group-item-action py-2 link-accordion"
					smooth-scroll
					target="list-item-2"
					href=""
					ng-click="scrollToSecond()"
					>Arranging payment</a
				>
				<a
					class="list-group-item list-group-item-action py-2 link-accordion"
					smooth-scroll
					target="list-item-3"
					href=""
					ng-click="scrollToThird()"
					>Your shipping arrangements</a
				>
				<a
					class="list-group-item list-group-item-action py-2 link-accordion"
					smooth-scroll
					target="list-item-4"
					href=""
					ng-click="scrollToFourth()"
					>Contact us</a
				>
			</div>
		</div>
		<div class="col-7">
			<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
				<h2 id="list-item-1" class="my-5 text-danger"><strong>Why sell with AuctionsTable's?</strong></h2>
				<p>
					As a global leader in the international art market, AuctionsTable's has a proven track record in achieving prices that meet or
					exceed pre-sale estimates. Ask our loyal sellers, and they'll say it's because of a combination of the following:
				</p>
				<h2 id="list-item-2" class="my-5 text-danger">
					<strong>Steps For Selling</strong>
				</h2>
				<img src="./images/whytosell/selling-guide-cover-680x425.png" class="img-fluid" alt="" />
				<ol>
					<li class="my-3">First, request a complimentary auction estimate, and see if your item is suitable for AuctionsTable's sale</li>
					<li class="my-3">
						A AuctionsTable's specialist will contact you to discuss estimates, advise on sale dates and explain your Seller's Agreement and
						commission structure
					</li>
					<li class="my-3">
						Once you have signed your Seller's Agreement, you should arrange for the item to be delivered to our saleroom or warehouse.
						Christie's can assist with this, or we can put you in contact with trusted local shippers
					</li>
					<li class="my-3">
						Our specialists will coordinate every detail, from cataloguing your property to marketing it to prospective buyers worldwide
					</li>
				</ol>
				<h2 id="list-item-3" class="my-5 text-danger"><strong>After the Sale</strong></h2>
				<img src="" alt="" />
				<p>
					You will receive a notification informing you of the price that your item achieved at auction. We will then confirm your net
					proceeds of sale based on the hammer price, with any agreed-upon expenses and commission deducted. Please note that prices listed
					on our website display the hammer price inclusive of the buye's premium.
				</p>
				<p>
					AuctionsTable's will then act on your behalf to secure payment from the buyer. Provided we have received payment in full,
					approximately 35 days after the auction, your payment will be sent to your nominated account, and you will receive a settlement
					statement for the sale.
				</p>
				<p>
					If a buyer was not found for your item, Christie's will contact you to discuss either re-offering or collecting your property. In
					some circumstances, we can recommend an alternative auction house.
				</p>
				<h2 id="list-item-4" class="my-5 text-danger"><strong>Contact us</strong></h2>
				<img src="./images/whytosell/selling-guide-receive-payment.jpg" class="img-fluid" alt="" />
				<p>Our specialists - in over 60 categories - are here to answer your questions and help guide you.</p>
				<p>
					To speak to someone about an upcoming sale, or if you require assistance setting up a AuctionsTable’s account or wish to place a
					bid, please contact our Client Services team.
				</p>
				<p>Contact us via online chat, email (info@auctionstable.com) or phone</p>
			</div>
		</div>
	</div>
</div>
